// -----------------------------
// animations
// -----------------------------

.StatusGraph-appear
  opacity: 0

  .StatusBar
    transform: scale(1, 0)

  &.StatusGraph-appear-active
    opacity: 1

    .StatusBar
      transform: scale(1, 0)

.StatusGraph-enter
  opacity: 0
  width: 0

  .StatusBar
    transform: scale(1, 0)

  &.StatusGraph-enter-active
    opacity: 1

    for _num in 0...9
      &.StatusGraph_item-bars{_num}
        width: ($bar-width + $bar-margin * 2) * _num + $graph-item-margin * 2

    .StatusBar
      transform: scale(1, 0)

.StatusGraph-leave
  opacity: 1

  for _num in 0...9
    &.StatusGraph_item-bars{_num}
      width: ($bar-width + $bar-margin * 2) * _num + $graph-item-margin * 2

  &.StatusGraph-leave-active
    opacity: 0
    width: 0
