// -----------------------------
// animations
// -----------------------------

.StatusBar-enter {
  transform: scale(1, 0)

  &.StatusBar-enter-active {
    transform: scale(1, 1)
  }
}

.StatusBar-leave {
  transform: scale(1, 1)

  &.StatusBar-leave-active {
    transform: scale(1, 0)
  }
}

.StatusGraph-appear
  opacity: 0

  .StatusBar
    transform: scale(1, 0)

  &.StatusGraph-appear-active
    opacity: 1

    .StatusBar
      transform: scale(1, 0)

.StatusGraph-enter
  opacity: 0
  width: 0 !important

  .StatusBar
    transform: scale(1, 0)

  &.StatusGraph-enter-active
    opacity: 1

    for _num in 0...9
      &.bars-{_num}
        width: ($bar-width + $bar-margin * 2) * _num + $graph-item-margin * 2 !important

    .StatusBar
      transform: scale(1, 0)

.StatusGraph-leave
  opacity: 1

  for _num in 0...9
    &.bars-{_num}
      width: ($bar-width + $bar-margin * 2) * _num + $graph-item-margin * 2 !important

  &.StatusGraph-leave-active
    opacity: 0
    width: 0 !important

.HelpModal-enter
  opacity: 0

  .HelpModal-body,
  .HelpModal-close
    transform: translateY(-2em)

  &.HelpModal-enter-active
    opacity: 1

    .HelpModal-body,
    .HelpModal-close
      transform: translateY(0)

.HelpModal-leave
  opacity: 1

  .HelpModal-body,
  .HelpModal-close
    transform: translateY(0)

  &.HelpModal-leave-active
    opacity: 0

    .HelpModal-body,
    .HelpModal-close
      transform: translateY(-2em)
