// -----------------------------
// components/help/HelpModal
// -----------------------------

.HelpModal
  align-items: center
  background-color: rgba(0,0,0,0.8)
  bottom: 0
  display: flex
  color: #fff
  flex-direction: column
  left: 0
  position: fixed
  right: 0
  top: 0
  transition: $transition-help
  z-index: 10

  a
    color: #fff

    &:hover
      color: rgba(#fff, 0.5)

  // -----------------------------
  // help text
  // -----------------------------
  &_body
    background-color: rgba(#846878, 0.59)
    border-radius: 3px
    flex: 0 1 auto
    line-height: 1.8
    margin-top: 40px
    max-width: 700px
    overflow: auto
    padding: 10px 15px
    transition: $transition-help
    width: 90%;

    &_inner
      margin: 0 auto
      max-width: 700px
      width: 100%

      h2
        font-size: 2rem
        border-bottom: 1px solid rgba(#fff, 0.5)
        margin-bottom: 2em
        padding-bottom: 1.5em
        text-align: center

      h3
        border-left: 5px solid rgba(#fff, 0.5)
        border-bottom: 1px solid rgba(#fff, 0.5)
        font-size: 1.6rem
        margin-bottom: 1.5em
        margin-top: 3em
        padding-left: 0.8em

        &:first-of-type
          margin-top: 2.5em;

      h4
        border-bottom: 1px solid rgba(#fff, 0.5)
        margin-bottom: 1em
        margin-top: 1.5em

      ul
        margin-left: 1.5em

      li
        list-style-type: disc

  // -----------------------------
  // close button
  // -----------------------------
  &_close
    flex: 0 0 auto
    line-height: 4em
    margin-bottom: 40px
    margin-top: 10px
    text-align: center
    transition: $transition-help

    a
      background-color: rgba(#fff, 0.18);
      border: 1px solid #fff
      border-radius: 3px
      display: inline-block
      font-size: 1.6rem
      line-height: 1
      padding: 10px 20px

// -----------------------------
// transition
// -----------------------------
+prefix-classes('HelpModal')
  .-enter
    opacity: 0

    ._body
    ._close
      transform: translateY(-2em)

    &.-enter-active
      opacity: 1

      ._body
      ._close
        transform: translateY(0)

  .-leave
    opacity: 1

    ._body
    ._close
      transform: translateY(0)

    &.-leave-active
      opacity: 0

      ._body
      ._close
        transform: translateY(-2em)
