// -----------------------------
// components/graph/StatusGraph
// -----------------------------

$name = 'StatusGraph';

.StatusGraph
  margin: 2em 1.5em 1.5em 3em
  position: relative
  white-space: nowrap

  // -----------------------------
  // graph body
  // -----------------------------
  &_body
    overflow: auto
    padding-left: 1em
    position: relative
    z-index: 2

  // -----------------------------
  // each item in a graph
  // -----------------------------
  &_item
    display: inline-block
    font-size: 0
    position: relative
    transition: $transition-graph
    vertical-align: bottom

    for _num in 0...9
      &-bars{_num}
        width: ($bar-width + $bar-margin * 2) * _num + $graph-item-margin * 2

    // -----------------------------
    // status bars
    // -----------------------------
    &_bars
      height: $config.maxStatus * $height-scale
      margin: 0 auto
      text-align: center

      &::after
        content: ''
        display: inline-block
        height: 100%
        vertical-align: bottom

    // -----------------------------
    // info of the item
    // -----------------------------
    &_info
      padding-bottom: 20px

      &_name
      &_id
      &_total
        font-size: 1.2rem
        text-align: center
        padding-top: 7px

  // -----------------------------
  // transition
  // -----------------------------
  &-appear
    opacity: 0

    .StatusBar
      transform: scale(1, 0)

    &-active
      opacity: 1

      .StatusBar
        transform: scale(1, 0)

  &-enter
    opacity: 0
    width: 0

    .StatusBar
      transform: scale(1, 0)

    &-active
      opacity: 1

      for _num in 0...9
        &._item-bars{_num}
          width: ($bar-width + $bar-margin * 2) * _num + $graph-item-margin * 2

      .StatusBar
        transform: scale(1, 0)

  &-leave
    opacity: 1

    for _num in 0...9
      .{$name}_item-bars{_num}
        width: ($bar-width + $bar-margin * 2) * _num + $graph-item-margin * 2

    &-active
      opacity: 0
      width: 0
