// load config
$config = json('../../config.json', {hash: true})
// font-awesome path
$fa-font-path = './fonts'
// height scaling
$height-scale = 6px
// width of bar
$bar-width = 11px
// horizontal margin of bar
$bar-margin = 1px
// horizontal margin of graph item
$graph-item-margin = 6px
// transition for graph
$transition-graph = unquote("all 0.5s ease")
// transition for graph bar
$transition-bar = unquote("background-color 0.2s ease, height 0.3s ease, transform 0.45s ease")
$transition-bar-appear = unquote("all 0.6s 0.3s ease")
// transition for status label
$transition-label = unquote("all 0.2s ease")
// base font settings
$base-font-size = 1.4rem
$base-font-color = #3e3a3a
// colors for conditional form
$form-background-color = #4a3a45
$form-fieldset-padding = 1em
$form-item-padding = 0.6em
$btn-color-on = #207290
$btn-color-off = #e0e8ed
$btn-color-hover = #fff
$btn-color-all = #3a7b44
$btn-color-none = #b52c39
$input-border-color = #777
// transition for form buttons
$transition-form = unquote("all 0.2s ease")
// colors for each status
$status-color = {
  "life": #4c5cae,
  "attack": #e2a431,
  "defence": #529e39,
  "speed": #60aacf,
  "push": #cacf19,
  "critical": #db4b31,
  "search": #a7a7a7,
  "hide": #a35699
}
// color setting for back lines
$backline-color-main = #333
$backline-color-sub = #9f9f9f
// border radius of form pars
$border-radius = 3px
// transition for normal a target
$transition-link = unquote("all 0.1s ease")
$transition-help = unquote("opacity 0.3s ease, transform 0.3s ease")
